body {
	background-color: hsl(218, 28%, 13%);
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-bottom: 50px;
}

.image {
	width: 370px;
	margin-top: 50px;
}

@media only screen and (max-width: 770px) {
	.container {
		margin: 0 10%;
	}

	.image {
		width: 100%;
	}
}
