.card-img {
	height: 200px;
}

.content {
	font-size: 15px;

	line-height: 1.7;
	padding: 0.5rem 0;
	color: white;
}

.card {
	height: 400px;
	border-radius: 6px;
	background-color: hsl(219, 30%, 18%);
	box-shadow: 2px 2px 20px 2px hsl(216, 53%, 9%);
}

@media screen and (max-width: 480px) {
	.card-img {
		height: 150px;
	}
	.card {
		height: 325px !important;
		margin-bottom: 25px !important;
	}
	h3 {
		font-size: 3rem;
	}
}

.container {
	margin-top: 10px;
	color: white;
}

.heading {
	margin-right: auto;
	margin-left: auto;
	align-content: center;
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
}
h3 {
	margin-top: 10px;
	font-size: 4rem;
	font-weight: 600;
}

.loader {
	margin-top: 100px;
}

.preloader-wrapper {
	height: 150px;
	width: 150px;
}
