.card-img {
	height: 200px;
}

.content {
	font-size: 15px;
}

.card {
	height: 400px;
}

@media screen and (max-width: 480px) {
	.card-img {
		height: 150px;
	}
}

.container {
	margin-top: 10px;
}

.heading {
	margin-right: auto;
	margin-left: auto;
	align-content: center;
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
}
h3 {
	margin-top: 10px;
	font-size: 4rem;
	font-weight: 600;
}

.loader {
	margin-top: 100px;
}

.preloader-wrapper {
	height: 150px;
	width: 150px;
}
